.mybutton{
	-fx-background-color: blue;
	-fx-border-color: blue;
	-fx-text-fill: white;
}

.mytitle{
    -fx-font-family: "Shadows Into Light";
    -fx-font-size: 36.0px;
    
}

.mypane{
	-fx-background-color: linear-gradient(#2A5058, #61a2b1); }